<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/t.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Tech Blog
        </a>
        <ul class="navbar-nav mr-auto">
            {{#if loggedIn}}
            <li class="nav-item">
                <a href="/dashboard" class="nav-link">My Dashboard</a>
            </li>
            {{/if}}
        </ul>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {{#if loggedIn}}
                <li class="m-1 btn username">
                    {{loggedInUser}}
                </li>
                <li class="nav-item m-1">
                    <button type="button" class="btn btn-outline-info logout">Logout</button>
                </li>
                {{/if}}
                {{#unless loggedIn}}
                <li class="nav-item m-1">
                    <button type="button" class="btn btn-outline-info login">Login</button>
                </li>
                <li class="nav-item m-1">
                    <button type="button" class="btn btn-info signup">Sign Up</button>
                </li>
                {{/unless}}
            </ul>
        </div>
    </nav>
    {{{body}}}

    
    <script src="/assets/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>