<div class="post-hero">
        <div><i class="fas fa-glasses fa-3x" style="color:rgb(93, 92, 153)"></i></div>
        <h1>Tech Blog's Posts</h1>
        <p>Stay connected with Tech Blog's latest and trendiest news!</p>
</div>

<div class="all-posts">
    {{#each posts}}
        {{> post-exterior}}
    {{/each}}
</div>