<form id="login-form" class="box">
    <h1> Welcome Back! </h1>
    <input type="text" name placeholder="E-mail" id="email" autocomplete="off" required>
    <input type="password" name placeholder="Password" id="password-login" oninput="this.setCustomValidity('')" required>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/signup" class="nav-link text-center small-link">or signup</a>
</form>

<script src="/assets/js/login.js"></script>