<form id="signup-form" class="box">
    <h1> Nice To Meet You! </h1>
    <input type="text" name placeholder="E-mail" id="email" autocomplete="off" required>
    <input type="text" name placeholder="Username" id="username" autocomplete="off" required>
    <input type="password" name placeholder="Password" id="password-login" required>
    <input type="submit" name value="Login"></input>
    <a href="/login" class="nav-link text-center small-link">or login</a>
</form>

<script src="/assets/js/login.js"></script>