
<article class="all-posts">
  {{>post-interior}}
  {{#if (same_user loggedInUser user.username)}}
  <div class="my_user">
    <button class="edit-post btn btn-success">Edit Post</button>
    <button class="delete-post btn btn-outline-danger">Delete Post</button>
  </div>
  {{/if}}
{{#unless loggedIn}}
<div class="comment-board">
  <div class="comment-section">
    Log in or sign up to leave a comment
    <div>
      <button type="button" class="btn btn-outline-info login">Login</button>
      <button type="button" class="btn btn-info signup">Sign Up</button>
    </div>
  </div>
</div>
{{/unless}}





{{> comments}}

</article>

{{#if loggedIn}}
<script src="/assets/js/addComment.js"></script>
{{/if}}
